<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>218719860210-0s9a54s9mj46lt07lh9pr3qcs4ndd66p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218719860210-0s9a54s9mj46lt07lh9pr3qcs4ndd66p</string>
	<key>API_KEY</key>
	<string>AIzaSyCOf43y7N1bNx3wOt7Rj2Z3yDl1a5eHc7M</string>
	<key>GCM_SENDER_ID</key>
	<string>218719860210</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Angell-James.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-eb53f</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-eb53f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218719860210:ios:6d12a8d6dba52c3a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-eb53f.firebaseio.com</string>
</dict>
</plist>